@media screen(max-device-width: 480px){
  #logo{
    display: none;
  }
  #News div{
    width: 99%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
  }
  #map,#form{
    width: 99%;
  }
}