@media query(max-device-width: 480px){
  #logo{
    float: center;
    width:100%;
    height: 50px;
  }
  #News div{
    width: 100%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
  }
  #map,#form{
    width: 100%;
  }
}