header{
	position: fixed;
	float: right;
	border: 1px solid black;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background-image:linear-gradient(#EFEFEF,#9E9E9E);
	list-style: none;
	width:95%;
}
ul, li{
	display: inline-block;
}
.class ul{
	float:right;
}
#logoLi{
	width: 100px;
	height: 40px;
	margin-top: 5px;
	margin-left: 5px;
}