html{
	background-color: #696969
}

#logo{
	width:100px;
	height: 50px;
}
h1{
	font-family: comic sans ms;
}

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  float:right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu {
  width: auto;
  font-family: Helvetica, Arial, sans-serif;
  color: #ffffff;
}
#cssmenu.align-right ul li {
  float: right;
  border-right: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.22);
}
#cssmenu.align-right ul li a {
  border-right: 0;
  border-left: 1px solid rgba(255, 255, 255, 0.15);
}
#cssmenu ul {
  background: #222222;
  /* Old browsers */

  background: -moz-linear-gradient(bottom, #000000 0%, #222222 50%, #3c3c3c 51%, #393939 78%, #888888 100%);
  background: -webkit-linear-gradient(bottom, #000000 0%, #222222 50%, #3c3c3c 51%, #393939 78%, #888888 100%);
  background: -o-linear-gradient(bottom, #000000 0%, #222222 50%, #3c3c3c 51%, #393939 78%, #888888 100%);
  background: -ms-linear-gradient(bottom, #000000 0%, #222222 50%, #3c3c3c 51%, #393939 78%, #888888 100%);
  background: linear-gradient(to top, #000000 0%, #222222 50%, #3c3c3c 51%, #393939 78%, #888888 100%);
}
#cssmenu ul li {
  float: left;
  display: block;
  border-right: 1px solid rgba(0, 0, 0, 0.22);
  z-index: 1;
}
#cssmenu ul li a {
  display: block;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
  border-right: 1px solid rgba(255, 255, 255, 0.15);
  z-index: 3;
}
#cssmenu ul li a:hover,
#cssmenu ul li.active a {
  color: #ffffff;
}
#cssmenu ul li:hover,
#cssmenu ul li.active {
  background: #1275ae;
  /* Old browsers */

  background: -moz-linear-gradient(bottom, #0b4669 0%, #1275ae 50%, #1794dc 51%, #1691d8 78%, #98d2f4 100%);
  background: -webkit-linear-gradient(bottom, #0b4669 0%, #1275ae 50%, #1794dc 51%, #1691d8 78%, #98d2f4 100%);
  background: -o-linear-gradient(bottom, #0b4669 0%, #1275ae 50%, #1794dc 51%, #1691d8 78%, #98d2f4 100%);
  background: -ms-linear-gradient(bottom, #0b4669 0%, #1275ae 50%, #1794dc 51%, #1691d8 78%, #98d2f4 100%);
  background: linear-gradient(to top, #0b4669 0%, #1275ae 50%, #1794dc 51%, #1691d8 78%, #98d2f4 100%);
}
#cssmenu ul li:last-child:hover{
	background: transparent;
}
#cssmenu input{
	height: 100%;
	margin-top: 5px;
}

.ban{
	background: url(../img/banniere.jpg) no-repeat;
	background-size: cover;
	height: 150px;
}
.ban h1{
	padding-top: 50px;
	-webkit-transition: ease-in 0.8s;
	-moz-transition:ease-in 0.8s;
	transition:0.8s;
}
.ban h1:hover{
	font-size: 30pt;
	-webkit-transition: ease-in 0.8s;
	-moz-transition:ease-in 0.8s;
	transition:0.8s;
	color:white;
}

#News div{
	width: 24.5%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}
#News img{
	width:160px;
	height:100px;
	margin-top: 20px;
	margin-left: 20px;
}

#right{
	float:right;
}
#bouton{
	width: 100px !important;
}
.in {	margin:auto;
		width:100%;		
		border: 1px solid black;
		background-image:linear-gradient(#98d2f4,#0b4669);
		border-radius: 5px;
		margin-top: 20px;
	}
#Formulaire{
  padding-bottom: 10px;
}
#Formulaire div{
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

#map, #form{
  width: 49.5%;
}
#form{
  border-left:1px solid black;
}
#Formulaire h1{
  font-size: 16pt;
}

#map_canvas{
		width: 99%;
		height: 250px;
}
#midleft{
  width: 45%;
  float:left; 
  margin-bottom: 10px;
}
#midright{
  width:45%;
  float:right;
  margin-bottom: 10px;
}
#full{
  width: 100%;
   margin-bottom: 10px;
}
#form-control{
  height: 100px;
  width: 100%;
  text-align: top;
}
#tel img{
  width:30px;
  height:30px;
  display: none;
}


@media only screen and (max-device-width:800px){
  #logo{
    margin-left:40%;
    margin-right:30%;
  }
  #cssmenu ul li a{
    width: 100%;
  }
  #cssmenu li{
    width:25%;
  }
  #cssmenu a{
    font-size: 10px;
  }
  #cssmenu input{
    width:100%;
  }
  #News div{
    width: 49%;
  }
}

@media only screen and (max-device-width:480px){
  #cssmenu ul{
    display: none;
  }
  #News div{
    width:95% !important;
  }
  #map, #form{
    width: 98%;
  }
  #tel img{
    display: block;
    margin-top: -50px;
  }
}